.main-card{
  background-color: rgb(243, 239, 234);
}

.main-text-area{
  display: flex;
  height: 200px;
  width: 500px;


}

.card-content{
align-items: left;
}

.grid-content{
  position: absolute;
  left: 50px;
}

.predict-button{
  margin: 20px;
}
